version: "3.9"

services:
  postgres:
    image: postgres:17-alpine
    container_name: contacts-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: contactsdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: ./src/ContactsApi
      dockerfile: Dockerfile
    image: contactsapi:latest
    container_name: contacts-api
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=contactsdb;Username=postgres;Password=postgres"
    ports:
      - "5000:5000"
    restart: unless-stopped


  nginx:
    image: nginx:alpine
    container_name: contacts-nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    restart: unless-stopped

volumes:
  pgdata:
